<div class="contact-info-box">
  <div class="row clearfix">
    <div class="col-xs-5">
      <section class="address-section">
      <form class="form-horizontal" role="form" id="address-form" target="submit-frame" method="POST">
          <div class="form-group">
              <label class="control-label" style="padding-left:20px;">Pickup Address</label>
          </div>

          <div class="form-group">
              <div class="col-xs-12">
                  <input id="address_street1" name="address_street1" type="text" class="form-control input-md" placeholder="Address Line 1" minlength="1" required="true">
              </div>
          </div>

          <div class="form-group">
              <div class="col-xs-12">
                  <input id="address_street2" name="address_street2" type="text" class="form-control input-md" placeholder="Address Line 2">
              </div>
          </div>

          <div class="form-group">
              <div class="col-xs-5">
                  <input id="city" name="city" type="text" class="form-control input-md" placeholder="City" minlength="3">
              </div>

              <div class="col-xs-4" style="padding-left:0px;">
                  <input id="state" name="state" type="text" class="form-control input-md" placeholder="State" minlength="2" required="true">
              </div>

              <div class="col-xs-3" style="padding-left:0px;">
                  <input id="zipcode" name="zipcode" type="text" class="form-control input-md" placeholder="Zipcode" minlength="1" required="true">
              </div>
          </div>
          <input type="submit" value="submit" class="hidden"/>
      </form>
      </section>


      <!-- CONTACT INFORMATION SECTION -->
      <hr>
      <section class="contact-section">
          <p class="text-center">This information will only be used to contact you about your laundry.</p>
          <form id="contact_info" class="form-horizontal" role="form" target="submit-frame" method="POST">
              <div class="form-group">
                  <label class="col-lg-2 control-label">Name</label>
                  <div class="col-lg-10"><input type="text" class="form-control input-md" id="customer_name" name="customer_name" placeholder="Full Name"></div>
              </div>
              <div class="form-group">
                  <label class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10"><input type="email" class="form-control input-md" id="customer_email" name="customer_email" placeholder="Email Address"></div>
              </div>
              
              <div class="form-group">
                  <label class="col-lg-2 control-label">Phone</label>
                  <div class="col-lg-10">
                      <div class="input-group">
                          <span id="phone_country_code" class="input-group-addon"></span>
                          <input type="text" class="form-control input-md" id="customer_phone" name="customer_phone" placeholder="Phone Number">
                      </div>
                      <label id="label-customer_phone" class="error"></label>
                  </div>
              </div>
              <input type="submit" value="submit" class="hidden"/>
          </form>
      </section>
    </div>
    <div class="col-xs-5 pull-right">
      <div class="panel panel-default">
        <div class="panel-heading" id="total-price">Total price</div>
        <div class="panel-body" id="list-price">
          Panel content
        </div>
      </div>
    </div>
  </div>
</div>