/* Table stuff */

.table-layout {
    display:table;
    width: 100%;
}

.table-layout .table-cell {
    border: none;
}

.fixed-width-500 {
    width:50%;
}

/* front page */

.front-page-body {
    position: relative;
    margin-top: 50px;
    width: 100%; /* for IE 6 */
    height: 600px; /* front-page-photo height */
}

.front-page-photo {
    height: 600px;
    position: absolute;
    right: 0;
}

.front-page-text {
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);

    top: 150px;
    position: absolute;
    width: 70%;
}

/* footer */

.footer {
    padding-bottom: 20px;
    padding-left: 25px;
    background: #3E3F3A;
}

.list-inline {
    position: relative;
    padding-left: 0;
    margin-left: 25px;
    margin-top: 30px;
    list-style: none;
}

.list-inline li a {
    color: #fff;
    font-size: 14px;
    margin-right: 30px;
}

.mission p {
    color: #aaa;
    font-size: 14px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 15px;
}

/* book */

#prev-step {
    margin-left: 36px;
}

#next-step {
    width: 120px;
}

select {
    min-width: 220px;
}

ul {
    list-style: none;
}

.checkbox-text {
    padding-left: 30px;
}

.nav-tabs {
    width: 500px;
}

.nav-tab {
    cursor: pointer;
}

.nav-tab, #myModalLabel {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
}

.contact-info-box {
    width: 800px;
}

.steps {
    margin-top: 28px;
    padding-left: 20px;
    width: 605px;
}

.wsh-tp {
    display: inline-table;
}

.pick-item {
    display: flex;
    padding-left: 40px;
}


#main_body_section {
    min-width: 620px;
    margin-bottom: 25px;
}

.modal-title {
    margin: 0;
    padding-top: 9px;
    float: left;
    font-weight: bold;
    color: rgb(119, 119, 119);
}

.modal-header {
    min-height: 16.43px;
    height: 95px;
    padding: 32px;
    border-bottom: 1px solid #e5e5e5;
}

.progress-bar-section {
    height: 40px;
    margin-top: 3px;
}

.progress-bar-section hr {
    margin: 0 auto;
    border-top: 1px dotted #ccc;
    width: 100%;
    position: absolute;
    top: 13px;
    left: 27px;
}

.progress-bar-section span {
    display: inline-block;
    line-height: 50px;
    height: 20px;
    width: 20px;
    border: 1px solid #999;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 100%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 100%;
    -moz-background-clip: padding;
    border-radius: 100%;
    background-clip: padding-box;
    background: #fff;
}

.progress-bar-section li {
    font-size: 10px;
    color: #888;
    text-align: center;
    width: 90px;
}

.progress-bar-section li.access-approved {
    opacity: 1;
    cursor: pointer;
}

.progress-bar-section li.active span {
    background: #81BB47;
    border: none;
}

#laundry-types {
    float: left;
    padding-top: 9px;
    padding-left: 52px;
    font-weight: 100;
    color: rgb(168, 168, 168);
}

#items-list {
    min-height: 200px;
}

section.cta-section .cta-inner .appoint-btn .right-caret {
    border-top-color: #fff;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #fff;
    margin-left: 55px;
}

section.cta-section .cta-inner .btn {
    padding: 30px 65px;
    color: #fff;
    border: none;
    border-radius: 0px;
    font-size: 20px;
    font-family: "Arial";
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-cta:hover {
    background: #81BB47;
}

section.cta-section .cta-inner .btn-cta {
    background-color: #8dc73f;
}

section.cta-section .cta-inner .btn:hover {
    background: #81BB47;
}

h1 {
    font-weight: 700;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    padding-bottom: 15px;
}

h5 {
    font-size: 18px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

.btn-cta {
    margin-top: 20px;
}


#myModalLabel {
    padding-top: 45px;
}

.steps {
    margin-top: 50px;
}

.cnt-clth {
    margin-left: 15px;
    margin-right: 15px;
}
@media screen and (max-width: 429px) {
    #laundry-types {
        padding-left: 16px;
    }
    .pck-itm, .cnt-clth {
        height: 50px;
    }
}